@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

#fone {  
  width: 311px;
  height: 627px;
  background: url(../imagens/frame-iphone.png) no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  #screen {
    position: relative;
    width: 269px;
    height: 471px;
    top: 80px;
    left: 21px;
  }
}

#social-links {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  float: right;
  width: 80px;
  height: 100vh;
  justify-content: center;

  img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
  }

  img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transform: translate(-3px, -3px);
    transition: transform .3s, border .5s;
  }
}