@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

section#fone {  
  width: 311px;
  height: 627px;
  background: url(../imagens/frame-iphone.png) no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}